@model IQueryable<TruckerLog>
@{
    ViewData["Title"] = "View Trucker";
}

<partial name="_Fleet" />

<div class="text-center">
    <h1>View Trucker</h1>
    <table style="width: 70%;">
        <tr>
            <th>LogID</th>
            <th>Time</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Speed</th>
            <th>Acceleration</th>
        </tr>
    @foreach (var m in @Model)
    {
        <tr>
            <td>@m.ID </td>
            <td>@DateTimeOffset.FromUnixTimeSeconds(m.TimeStamp).LocalDateTime</td>
            <td>@m.Latitude </td>
            <td>@m.Longitude </td>
            <td>@m.Speed.ToString("0.##") </td>
            <td>@m.Acceleration  </td>
        </tr>
    }
    </table>
</div>